.navbar{
  background-color: rgba(174, 174, 230, 0.822);
}
.navbar-brand {
  font-size: 40px;
  text-align: right;
}

.search-header {
  font-size: 24px;
  font-weight: bold;
}

.city-name {
  font-size: 30px;
}

.forecast-date {
  font-size: 24px;
  font-weight: bold;
}